:root {
   --scrollbar: #4d4d57;
   --scrollbar-background: transparent;
  }
@tailwind base;

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar,::-webkit-scrollbar-track {
    background: var(--scrollbar-background)
}

*::-webkit-scrollbar {
    width: 6px;
    height: 0;
    scrollbar-width: 6px
}

*::-webkit-scrollbar-thumb {
    background: var(--scrollbar)
}

@tailwind components;
@tailwind utilities;

